body{
    font-family: Arial,Microsoft JhengHei;
}
.InfoFooter{
    margin-top:10px;
    padding:5%;
    background: #E3D9CA;
    color:#Ffffff;
}
.card-deck{
    margin-top:20px;
}
h4{
    color:#6A0000;
}
h6{
    color:#E16428;
}
.lightbox{
    margin:3%;
    padding:5px;
    color:#363333;
    border:solid 1px #DCE8BA;
}
.type{
    margin-top:30px;
}